<!DOCTYPE html>

<html>

<head>
    <title>About Me</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>You may have to sit down – but never let yourself sit still</h3>
                        <p>Full Stack Developer specializing in <span class="bold-style">MERN Stack Development</span><br>
                        I am consistently working towards an understanding of all aspects of technology. 
                        I am especially fascinated by technologies such as artificial intelligence.
                        I also have a deep interest towards robotics, especially the ones which 
                        could be used as assistive tools for physically handicapped. 
                        And my dream is to one day be able to be part of a research team which 
                        is working towards building such equipment. </p>
        
    </div>
    
    {{>footer}}
</body>

</html>